 /* comando usado para importar uma fonte mais atualizada do google */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Comando para definir o principal da página como fundo e cor da fonte da maioria dos parágrafos */
body {

    /* Essa parte é somente para as laterais do site */

    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-image-source: url('bordaAzul.png');
    border-image-slice: 55;
    border-image-repeat: repeat;
    border-top: none;
    border-bottom: none;

    border-image-outset: 0 120px;


    font-family: 'Inter', sans-serif;
    background-color: #060825;
    color: #ececec;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

/* Estilo para o título principal */
h1{
    text-align: center;
    color: #54df14;
    margin-bottom: 5px;
}

/* Estilo para o subtítulo */
h2 {
    text-align: center;
    color: #8816b6;
    font-weight: 400;
}

/* Estilo para outros subtítulos posteriores */
h3 {
    color: #047fb8;
    border-bottom: 2px solid #ff7402;
    padding-bottom: 5px;
    margin-top: 30px;
}

/* Comando para estilizar apenas um dos h3 diferente com uma id */
#opniao {
    text-align: center;
    color: #ff7402;
}

/* Comando para estilizar a barra que separa a página */
hr {
    border: 0;
    height: 1px;
    background: #00d123;
    margin: 20px 0;
}

/* Estilização de links */
a {
    color: #a70891;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}   

/* Estilo para listas, ordenadas e não ordenadas */
ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* Estilo para as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #00000060;
    border-radius: 15px;
    overflow: hidden;
}

/* Estilo para elementos iguais de cabeçalho e corpo */
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #3a3a3a2c;
    color: #ffffff;
}

/* Estilo somente para elementos do cabeçalho */
th {
    background-color: #499fa5;
    color: #000000;
}

/* Estilo somente para elementos do rodapé */
tfoot td {
    font-weight: bold;
    background-color: #c98a03;
}

/* Comando para estilizar e deixa-lo no meio */
form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 30px; 
    background-color: #11223d;
    border-radius: 8px;
}

/* Ainda na parte do formulário usado para os itens localizados nele */
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #314561;
    background-color: #182a55;
    color: #ffffff;
    box-sizing: border-box;
}

/* Somente para o botão */
button {
    background-color: #a815a8;
    color: rgb(250, 249, 249);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

/* Comando para mudar a cor do botão quando passar o mouse por cima */
button:hover {
    background-color: #340141;
}